<div class="login-bg">
  <div class="login-logo"></div>
  <form class="text-center" (ngSubmit)="onLogIn(logInForm)" #logInForm="ngForm">

    <p style="padding-top: 10px; font-size: 25px;">Acesso</p>
    <hr>
    <!-- Email -->
    <p class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input matInput name="email" id="email" ngModel placeholder="Email:">
      </mat-form-field>
    </p>
    <!-- Password -->
    <p class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Senha:</mat-label>
        <input matInput name="password" id="password" ngModel placeholder="Senha:" type="password">
      </mat-form-field>
    </p>

    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mat-checkbox color="primary">Lembre-se de mim!</mat-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Esqueceu a senha?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-block my-4" type="submit">Entrar</button>
    <hr>
    <!-- Register -->
    <p>Não é membro?
      <a class="register-btn" (click)="onSignUpRedirect()">Registrar</a>
    </p>

  </form>
</div>


