<!-- <div class="container"> -->
<!-- <button class="btn btn-primary expand" (click)="openSm(content)"> Equipes
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Atenção!</h4>
    </div>
    <div class="modal-body">
      <p>Função não implementada :( Aguarde novidades&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
    </div>
  </ng-template>
</button> -->

<!-- </div> -->
