.btn-router__project {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../../utilities/IPimisr-button.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20px;
  background-origin: border-box;
}


.btn-router__teams {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../../utilities/team-button.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: border-box;
}

/* Small devices: landscape phones*/
@media (min-width: 576px) {

}

/* Medium devices: tablets */
@media (min-width: 768px) {

}

/* Large devices: desktops */
@media (min-width: 992px) {

}

/* Extra large devices: large desktops */
@media (min-width: 1200px) {

}
