<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Últimos Orçamentos">
    <app-latest-history></app-latest-history>
  </mat-tab>
  <mat-tab label="Criar Orçamento">
    <app-create-project></app-create-project>
  </mat-tab>
</mat-tab-group>



<!--<mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)" gutterSize="0">
  <!-- NOVO PROJETO
  <mat-grid-tile class="bg-project">
    <button class="btn btn-router__project" (click)="onProjectRedirect()"></button>
  </mat-grid-tile>
  <!-- HISTORICO DE PROJETOS
  <mat-grid-tile rowspan="2">
      <app-latest-history></app-latest-history>
  </mat-grid-tile>
  <!-- EQUIPES
  <mat-grid-tile class="bg-teams" >
    <button class="btn btn-router__teams" (click)="openSm(content)">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Atenção!</h4>
        </div>
        <div class="modal-body">
          <p>Função não implementada :( Aguarde novidades&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
        </div>
      </ng-template>
    </button>
  </mat-grid-tile>
</mat-grid-list>
-->
