.form-title {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

mat-form-field {
  width: 100%;
}

input[type="file"]{
  visibility: hidden;
}

.btn {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.btn-create {
  margin-top: 30px;
  background-color: #50B7B4;
  color: white;
}

.btn-create:hover,
.btn-create:active{
  background-color: #BAE4E3;
}

/* Small devices: landscape phones*/
@media (min-width: 576px) {

}

/* Medium devices: tablets */
@media (min-width: 768px) {

}

/* Large devices: desktops */
@media (min-width: 992px) {

}

/* Extra large devices: large desktops */
@media (min-width: 1200px) {

}
