<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form class="form-group" [formGroup]="form" (submit)="onAddBudget()">
        <div class="form-container">
          <mat-form-field appearance="outline">
            <mat-label>Nome do Projeto</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Nome do projeto:"
            />
            <mat-error *ngIf="form.get('name').invalid"
              >O orçamento precisa de um nome.</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descrição:</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Descrição do projeto:"
            ></textarea>
            <mat-error *ngIf="form.get('description').invalid"
              >O orçamento precisa de uma descrição.</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select
              matInput
              formControlName="reference"
              placeholder="Selecione a referência"
            >
              <mat-option value="sinapi">SINAPI</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('reference').invalid"
              >O orçamento precisa de uma referência.</mat-error
            >
          </mat-form-field>
        </div>
        <button
          class="btn btn-outline-success"
          type="button"
          (click)="filePicker.click()"
        >
          Adicione sua tabela de quantitativos
        </button>
        <small>{{ fileName }}</small>
        <input type="file" #filePicker (change)="onAddedQuantity($event)"
        accept="application/vnd.ms-excel,
    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        />
        <hr />
        <button class="btn btn-create" type="submit">Criar orçamento</button>
      </form>
    </div>
  </div>
</div>
